* {
	margin: 0;
	padding: 0;
}

#title {
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	font-size: 48px;
	font-weight: 400;
	text-shadow: -4px 0 rgb(90,159,216), 0 4px rgb(90,159,216), 4px 0 rgb(90,159,216), 0 -4px rgb(90,159,216);
	top: 30px;
	position: relative;
}

#score {
	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	color:#FF4040;
	position: fixed;
	bottom: -50px;
	right: 50px;
	text-shadow: 2px 2px white;
}

#message {
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	color: #FF4040;
	position: fixed;
	bottom: 18px;
	right: 150px;
	text-shadow: 2px 2px white;
}

#totalScore {
	font-family: 'Press Start 2P', cursive;
	color: #FF4040;
	position: fixed;
	top: 100px;
	text-shadow: 2px 2px white;
	width: 100%;
	text-align: center;
}

#currentFrame {
	font-family: 'Press Start 2P', cursive;
	color: #FF4040;
	position: fixed;
	top: 200px;
	text-shadow: 2px 2px white;
	width: 100%;
	text-align: center;
}

#remainingPins {
	font-family: 'Press Start 2P', cursive;
	color: #FF4040;
	position: fixed;
	top: 300px;
	text-shadow: 2px 2px white;
	width: 100%;
	text-align: center;
}

#currentRoll {
	font-family: 'Press Start 2P', cursive;
	color: #FF4040;
	position: fixed;
	top: 400px;
	text-shadow: 2px 2px white;
	width: 100%;
	text-align: center;
}

#currentRoll h5 {
	font-size: 18px;
}

#currentRoll h3 {
	font-size: 30px;
}

#remainingPins h5 {
	font-size: 18px;
}

#remainingPins h3 {
	font-size: 30px;
}

#currentFrame h5 {
	font-size: 18px;
}

#currentFrame h3 {
	font-size: 30px;
}

#totalScore h5 {
		font-size: 18px;
}

#totalScore h3 {
	font-size: 30px;
}

#bowlingball {
	height: 74.25px;
	width: 74.25px;
	position: fixed;
	bottom: 10;
	left: 0;
	z-index: 7;
}

#bowlingpin1 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 90;
	z-index: 10;
}

#bowlingpin2 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 60;
	z-index: 9;
}

#bowlingpin3 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 60;
	z-index: 9;
}

#bowlingpin4 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 30;
	z-index: 8;
}

#bowlingpin5 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 30;
	z-index: 8;
}

#bowlingpin6 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 30;
	z-index: 8;
}

#bowlingpin7 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 0;
	z-index: 7;
}

#bowlingpin8 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 0;
	z-index: 7;
}

#bowlingpin9 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 0;
	z-index: 7;
}

#bowlingpin10 {
	width: 55.5px;
	height: 120.45px;
	position: fixed;
	bottom: 10;
	right: 0;
	z-index: 7;
}

#lane {
	position: fixed;
	height: 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #FFB027;
	z-index: 100;
}